/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bg {  
    background: url("https://wallpaperaccess.com/full/637645.jpg")no-repeat center center;     
    background-size: cover; 
    height: 100%;
    opacity: 0.8;
    filter: blur(3px);
    
  }

  .center {  
    position: absolute;
    height: auto;
    width: auto;
    width: 63%;
    top : 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform    : translate(-50%, -50%); 
    text-align: center;
    }
  
    img {
      height: 300px;
      width: 400px;
      margin: 8px;    
      cursor: pointer; 
    }
  
    .background-grid {
      
      background-color: white;
      opacity: 0.7;
    }

    .snackBarSucces{
      background: green  !important;
      background-color: green  !important;
      color: white !important;
    }

    .snackBarFailed{
      background: red  !important;
      background-color: red  !important;
      color: white !important;
    }
  
  
